/* .heading-class {
    color: #0000ff;
    background-color: yellow;
}

body {
    background-color: pink;
}
button {
    background-color: blue;
    color: white;
} */

/* .box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: aquamarine;
} */

/* #box{
    height: 250px;
    width: 100px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
} */

/* .contant {
    color: red;
}

.NewClass {
    background-color: green;
} */